body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
}  

h1, h2 {
    line-height: 1em;
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

main {
    background-color: aliceblue;
    padding: 20px;
}

/* STYLES HEADER */

header {
    height: 100vh;
    background-image: url("../images/bg-img-reduced-exposure.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


nav a, .footer-nav a, nav a:visited, .footer-nav a:visited {
    color: white;
}

nav {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul {
    display: none;
}

.menu-icon a svg {
    width: 30px;
    height: 30px;
}

.nav-container {
    padding: 15px 0;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    width: 150px;
}

.account a {
    white-space: nowrap;
}

.container {
    margin: 0 15px;
}

header p, header h1, .home-calendar-label {
    color: white;
}

.container-2 {
    padding: 150px 0 100px 0;
    margin: 0 30px;
}

.container-2 p {
    margin: 1rem 0;
}

.header-form input {
    display: block;
    margin: 20px 0;
}

#submit-date {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 25px;
    padding: 7px 35px;
    background-color: transparent;
    color: white;
}

#submit-date:hover {
    background-color: white;
    color: rgb(10, 10, 50);
}

/* END OF HEADER */

/*STYLES MAIN*/

.daily-img {
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
}

.daily-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.date-chosen {
    font-style: italic;
}

.img-description {
    margin: 1rem 0;
}

.zoom {
    display: none;
}

/*END MAIN*/

/* STYLES FOOTER */

footer {
    background-color: rgb(10, 10, 50);
}

.footer-nav {
    margin: 0 15px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul-footer li {
padding: 5px 0;
}

.txt-end {
    text-align: end;
}

/* END OF FOOTER */

  /**                               /
 /         TABLET STYLE            /
/                               **/

@media screen and (min-width: 605px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 60px;
    }
    
    main {
        padding: 30px;
    }

    /* STYLES HEADER */

    .nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav-ul li {
    padding: 0 22px;
    }

    .menu-icon {
        display: none;
    }

    .container-2 {
        padding: 220px 0 100px 0;
        margin: 0 100px;
    }
    
    /* END HEADER */
    
    /* STYLES MAIN */

    .container-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

    .daily-img {
        margin-right: 30px;
        width: 50%;
        height: 80vh;
    }

    .daily-txt {
        margin: auto 0;
        width: 50%;
    }

    /* END MAIN */
}

   /**                               /
 /         DESKTOP STYLE           /
/                               **/

@media screen and (min-width:920px) {

    h1 {
        font-size: 60px;
        margin: 0 0 30px 0;
    }

    /* STYLES HEADER */

    .logo {
        width: 100%;
    }

    .container-2 {
        padding: 160px 0 100px 0;
        margin: 0 auto;
        width: 45%;
        text-align: center;
    }

    .header-form input {
        margin: 20px auto;
    }

    /* END HEADER */

    /*STYLES MAIN*/

    .daily-img {
        cursor: pointer;
    }

    .daily-img:hover img {
        filter: brightness(40%);
    }

    .daily-img {
        position: relative;
        z-index: 5;
    }

    .daily-img:hover .zoom {
        display: block;
    }

    .daily-img .zoom {
        color: white;
        position: absolute;
        z-index: 999;
        top: 48%;
        left: 48%;
    }
}
