body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
}  

h1, h2 {
    line-height: 1em;
    font-weight: bold;
}

a{
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

main {
    background-color: aliceblue;
}

.container_main {
    padding: 20px;
}

/* STYLES HEADER */

.home_header {
    height: 100vh;
    background-image: url("../images/bg-img-reduced-exposure.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_img {
    height: 100vh;
    background-image: url("../images/bg-img-reduced-exposure.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav a, .footer_nav a, nav a:visited, .footer_nav a:visited {
    color: white;
}

nav {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_ul {
    display: none;
}

.menu_icon a svg {
    width: 28px;
    height: 28px;
}

.nav_container {
    padding: 15px 0;
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    width: 150px;
}

.account a {
    white-space: nowrap;
}

.container {
    margin: 0 15px;
}

header p, header h1, .home_calendar_label {
    color: white;
}

.container_2 {
    padding: 150px 0 100px 0;
    margin: 0 30px;
}

.container_2 p {
    margin: 1rem 0;
}

.header_form input {
    display: block;
    margin: 20px 0;
}

input:hover {
    cursor: pointer;
}

#submit_date {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 25px;
    padding: 7px 35px;
    background-color: transparent;
    color: white;
}

#submit_date:hover {
    background-color: white;
    color: rgb(10, 10, 50);
}

/* END OF HEADER */

/*STYLES MAIN*/

.hide {
    display: none;
}

.display {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: background-color 300ms;
}

.display:hover {
    cursor: pointer;
}

.fullimg {
    object-fit: contain;
    width: 100%;
    display: block;
    margin: auto;
    
}

.daily_img {
    width: 100%;
    height: 40vh;
    margin-bottom: 20px;
}

.daily_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.date_chosen {
    font-style: italic;
}

.img_description {
    margin: 1rem 0;
}

.zoom {
    display: none;
}

.fav_button {
    color: black;
    text-align: right;
    margin: 20px 0;
}

.fav_button label svg:hover {
    color: #911;
}

.fav_button label svg {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.fav_button label input {
    position:absolute;
    top:-20px;
}

.fav_button input:checked + span {
    color:rgb(207, 59, 59);
}

/*END MAIN*/

/* STYLES FOOTER */

footer {
    background-color: rgb(10, 10, 50);
}

.footer_nav {
    margin: 0 15px;
    padding: 15px 0;
}

.nav_ul_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_ul_footer li {
padding: 5px 0;
}

.txt_end {
    text-align: end;
}

/* END OF FOOTER */

  /**                               /
 /         TABLET STYLE            /
/                               **/

@media screen and (min-width: 605px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 60px;
    }

    .container_main {
        padding: 30px;
    }

    /* STYLES HEADER */

    .nav_ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav_ul li {
    padding: 0 22px;
    }

    .menu_icon {
        display: none;
    }

    .container_2 {
        padding: 130px 0 100px 0;
        margin: 0 100px;
    }
    
    /* END HEADER */
    
    /* STYLES MAIN */

    .container_main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

    .daily_img {
        margin-right: 30px;
        width: 50%;
        height: 80vh;
    }

    .daily_txt {
        margin: auto 0;
        width: 50%;
    }

    .fullimg {
        height: 100%; 
    }
    /* END MAIN */
}

   /**                               /
 /         DESKTOP STYLE           /
/                               **/

@media screen and (min-width:920px) {

    h1 {
        font-size: 60px;
        margin: 0 0 30px 0;
    }

    /* STYLES HEADER */

    .logo {
        width: 100%;
    }

    .container_2 {
        padding: 160px 0 100px 0;
        margin: 0 auto;
        width: 45%;
        text-align: center;
    }

    .header_form input {
        margin: 20px auto;
    }

    /* END HEADER */

    /*STYLES MAIN*/

    .daily_img:hover img {
        filter: brightness(40%);
    }

    .daily_img { 
        cursor: pointer;
        position: relative;
        z-index: 5;
    }

    .daily_img:hover .zoom {
        display: block;
    }

    .daily_img .zoom {
        color: white;
        position: absolute;
        z-index: 900;
        top: 48%;
        left: 48%;
    }

    /* END MAIN */
}
